{
    "hosts": {
        "https://robindev.atlassian.net": {
            "product": "jira",
            "username": "robin.jiao@outlook.com",
            "password": "AJDZauHTidfTkxDaMerH57F1"
        }
    }
}